<tr> 
	<td>${ASSIGNMENT_1_NAME}</td> 
	<td>${ASSIGNMENT_2_NAME}</td> 
	<td style="text-align: right">${WEIGHT}</td> 
	<td style="text-align: right">${PERCENT}%</td> 
	<td><a href=".pdt/${NAMES_COMBINED}.html">link</a></td> 
</tr> 
