<h1>Wyszukiwanie plagiatów - wyniki</h1></br>
Przeszukano ${NO_OF_ASSIGNMENTS} prac</br>

<h3>Wyniki pracy:</h3></br>

<table border="2">
	<tr>
		<td>Pierwszy program</td>
		<td>Drugi program</td>
		<td>Wynik wagowy</td>
		<td>Maksymalne podobieństwo</td>
		<td>Link</td>
	</tr>
