		<tr>
			<td>${ASSIGNMENT_1_PATH}: ${ASSIGNMENT_1_FIRST_LINE} - ${ASSIGNMENT_1_LAST_LINE}</td> 
			<td>${ASSIGNMENT_2_PATH}: ${ASSIGNMENT_2_FIRST_LINE} - ${ASSIGNMENT_2_LAST_LINE}</td> 
			<td>${WEIGHT}</td> 
			<td>${STREAMS}</td> 
			<td><a href="${ENTRY_PATH}.html">link</a></td> 
		</tr>