<h1>Praca: ${ASSIGNMENT_NAME}</h1></br>

<hr><table>
	<tr>
		Praca podobna do ${DUPLICATE_NAME}</br>
		Wykryte przez filtr ${FILTER_NAME}</br>
		Ocena plagiatu: ${MARK}</br>
	<tr>
	<tr>
		<td>
			Element pliku ${PATH_TO_FILE_1}
		</td>
		<td>
			Element pliku ${PATH_TO_FILE_2}
		</td>
	</tr>
	<tr>
		<td>
			Tu jest tekst </br>
			pracy pierwszej
		</td>
		<td>
			Tu jest tekst </br>
			pracy drugiej
		</td>
	</tr>
</table></hr>

<hr><table>
	<tr>
		Praca podobna do ${DUPLICATE_NAME}</br>
		Wykryte przez filtr ${FILTER_NAME}</br>
		Ocena plagiatu: ${MARK}</br>
	<tr>
	<tr>
		<td>
			Element pliku ${PATH_TO_FILE_1}
		</td>
		<td>
			Element pliku ${PATH_TO_FILE_2}
		</td>
	</tr>
	<tr>
		<td>
			Tu jest tekst </br>
			pracy pierwszej
		</td>
		<td>
			Tu jest tekst </br>
			pracy drugiej
		</td>
	</tr>
</table></hr>
