<h1>Porównanie programów ${ASSIGNMENT_1_NAME} i ${ASSIGNMENT_2_NAME}</h1></br>

<table border="2">
	<tr><td><table border="1" width="100%">
		<tr>
			<td><b>${ASSIGNMENT_1_NAME}</b></td> 
			<td><b>${ASSIGNMENT_2_NAME}</b></td>
		</tr>
		<tr>
			<td>Podobieństwo: ${ASSIGNMENT_1_PERCENT}%</td>
			<td>Podobieństwo: ${ASSIGNMENT_2_PERCENT}%</td>
		</tr>
	</table></td></tr>
	<tr><td>
		Całkowity wynik wagowy: ${WEIGHT}
	</tr></td>
	<tr><td>
		Spis duplikatów:
	</tr></td>
	<tr><td>
	<table border="1">
		<tr>
			<td>Linie w ${ASSIGNMENT_1_NAME}</td>
			<td>Linie w ${ASSIGNMENT_2_NAME}</td>
			<td>Waga</td>
			<td>Strumienie</td>
			<td>Link</td>
		</tr>
		<tr>
			<td>${ASSIGNMENT_1_FIRST_LINE} - ${ASSIGNMENT_1_LAST_LINE}</td>
			<td>${ASSIGNMENT_2_FIRST_LINE} - ${ASSIGNMENT_2_LAST_LINE}</td>
			<td>${WEIGHT}</td>
			<td>${STREAMS}</td>
			<td><a href="assignments/${ENTRY_PATH}.html">link</a></td> 
		</tr>
		<tr>
			<td>${ASSIGNMENT_1_FIRST_LINE} - ${ASSIGNMENT_1_LAST_LINE}</td>
			<td>${ASSIGNMENT_2_FIRST_LINE} - ${ASSIGNMENT_2_LAST_LINE}</td>
			<td>${WEIGHT}</td>
			<td>${STREAMS}</td>
			<td><a href="assignments/${ENTRY_PATH}.html">link</a></td> 
		</tr>
	</table>
	</tr></td>
</table>
