<table border="2">
	<tr><td>
		Waga plagiatu: ${WEIGHT}
	</tr></td>
	<tr><td><table border="1" width="100%">
		<tr>
			<td><b>${ASSIGNMENT_1_NAME}</b></td> 
			<td><b>${ASSIGNMENT_2_NAME}</b></td>
		</tr>
		<tr>
			<td>Plik: ${ASSIGNMENT_1_PATH}</td>
			<td>Plik: ${ASSIGNMENT_2_PATH}</td>
		</tr>
		<tr>
			<td>Wiersze: ${ASSIGNMENT_1_FIRST_LINE} - ${ASSIGNMENT_1_LAST_LINE}</td>
			<td>Wiersze: ${ASSIGNMENT_2_FIRST_LINE} - ${ASSIGNMENT_2_LAST_LINE}</td>
		</tr>
		<tr> 
			<td><code>${ASSIGNMENT_1_PRE_LINES} <span style="background: red;">${ASSIGNMENT_1_LINES}</span> ${ASSIGNMENT_1_POST_LINES}</code></td> 
			<td><code>${ASSIGNMENT_2_PRE_LINES} <span style="background: red;">${ASSIGNMENT_2_LINES}</span> ${ASSIGNMENT_2_POST_LINES}</code></td>
		</tr>
	</table></td></tr>
</table>
