<h1>Wyszukiwanie plagiatów - wyniki</h1></br>
Przeszukano ${NO_OF_ASSIGNMENTS} prac</br>

<h3>Wyniki pracy:</h3></br>

<table border="2">
	<tr>
		<td>Pierwszy program</td>
		<td>Drugi program</td>
		<td>Wynik wagowy</td>
		<td>Maksymalne podobieństwo</td>
		<td>Link</td>
	</tr>
	<tr>
		<td>${ASSIGNMENT_1_NAME}</td> 
		<td>${ASSIGNMENT_2_NAME}</td> 
		<td style="text-align: right">${WEIGHT}</p> </td> 
		<td style="text-align: right">${PERCENT}%</td>
		<td><a href="assignments/${NAMES_COMBINED}.html">link</a></td> 
	</tr>
	<tr>
		<td>${ASSIGNMENT_1_NAME}</td> 
		<td>${ASSIGNMENT_3_NAME}</td> 
		<td style="text-align: right">${WEIGHT}</td> 
		<td style="text-align: right">${PERCENT}%</td> 
		<td><a href="assignments/${NAMES_COMBINED}.html">link</a></td> 
	</tr>
</table>
